@import "variables.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    padding: 0 15%;
}

.cabecalho__navegacao {
    display: flex;
    flex-direction: row;
    gap: 3.12rem;
}

.cabecalho__navegacao__link {
    color: var(--color-tertiary);
    font-family: var(--font-secundary);
    font-weight: 600;
    text-decoration: none;
    padding: 2.18rem 0;
}

.principal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5% 15% 15%;
    gap: 5.12rem;
}

.principal__secao1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.principal__secao1__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primary);
    line-height: 3.25rem;
}

.principal__secao1__titulo__destaque {
    color: var(--color-tertiary);
}

.principal__secao1__paragrafo {
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    line-height: 2.25rem;
    text-align: justify;
}

.principal__secao1__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.principal__secao1__links__social-title {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 2.5rem;
}

.principal__secao1__links__social-link {
    width: 17.5rem;
    padding: 0.62rem 2.25rem;
    background-color: var(--color-primary);
    color: var(--color-secundary);
    border: 2px solid var(--color-tertiary);
    border-radius: .5rem;
    text-decoration: none;
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 0.43rem;
}

.principal__secao1__links__social-link:hover {
    background-color: var(--color-quartenary);
}

.principal__foto {
    width: 50%;
    border-radius: 1rem;
}

.rodape {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    font-family: var(--font-secundary);
    font-weight: 400;
    font-size: 1.5rem;;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 0 5%;
        justify-content: center;
    }

    .principal {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .principal__secao1 {
        width: 100%;
    }

    .principal__foto {
        width: 30.5rem;
        height: 30.37rem;
        margin: auto;
    }

    .principal__secao1__links__social-title {
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .principal {
        padding: 5% 5% 10%;
    }

    .principal__foto {
        width: 94%;
    }
}
