@import url(variables.css);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    height: 100vh;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    padding: 0 15% 0;
}

.cabecalho__navegacao {
    display: flex;
    flex-direction: row;
    gap: 50px
}

.cabecalho__navegacao__link {
    color: var(--color-tertiary);
    font-family: var(--font-secundary);
    font-weight: 600;
    text-decoration: none;
    padding: 30px 0;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% 0;
}

.principal__secao1 {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__secao1__titulo {
    font-size: 36px;
    font-family: var(--font-primary);
    line-height: 56px;
}

.principal__secao1__titulo__destaque {
    color: var(--color-tertiary);
}

.principal__secao1__paragrafo {
    font-size: 24px;
    font-family: var(--font-secundary);
    line-height: 36px;
}

.principal__secao1__links {
    display: flex;
    justify-content: space-between;
}

.principal__secao1__links > a {
    background-color: var(--color-tertiary);
    text-decoration: none;
    width: 280px;
    border-radius: 16px;
    padding: 22px 0;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-secundary);
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.principal__foto {
    width: 488px;
    height: 550px;
    border-radius: 16px;
}

.rodape {

}
